.row {
    margin: 0px;
}
.navbar {
    padding: 0px;
}
a.nav-link {
    width: 110px;
    height: 95px;
    text-align: center;
}
.nav-empty {
    min-width: 50px;
    text-align: center;
}
.nav-item {
    height: 95px;
}
.container-fluid {
    padding: 0px;
}
.dropdown-menu {
    display: relative;
    left: auto;
    top: auto;
    padding: 0px;
    border-radius: 0px;
    margin: 0px !important;
}
.dropwdown-item {
    width: auto;
    padding: .25rem .5rem !important;
}
.dropdown-item:hover {
    background-color: #dbdbdb;
}
.navdrop {
    height: 40px;
    text-align: left;
}
.navbar-dark .navbar-nav .nav-link:hover {
    background-color: #072d4d;
}

a.bg-light:focus, a.bg-light:hover, button.bg-light:focus, button.bg-light:hover {
    background-color: #ffac00 !important;
}
.bg-dark {
    background-color: #001f39 !important;
}
.bg-light {
    background-color: #ffcf00 !important;
}

.btn-nuevo {
    display:inline;
    margin: 20px;
}

.logo-uds {
    padding: 5px 10px;
}
.navico {
    display: block;
    text-align: center;
    margin-top: 10px;
}
.btn:focus {
    box-shadow: 0 0 0 0;
}
.btn-dark {
    background-color: #001f39 !important;
}

.titulo-1 {
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    margin: 15px 5px;
}
.titulo-2 {
    font-size: 28px;
    text-align: center;
    margin: 10px 5px;
}

.modal-content {
    border: 0px;
    border-radius: .4rem;
}

.modal-header {
    color: white;
    background-color: #001f39;
}

.table-dark {
    background-color: #001f39;
}

@media all and (min-width: 992px) {
    .dropdown-menu{
        width: auto;
        margin: 10px -50px;
    }
}

@media all and (max-width:992px) {
    a.nav-link {
        width: 100%!important;
    }
    .btn-group-vertical{
        width: 100%;
    }
}